{% extends 'nav.html' %}
{% block title %}
{% endblock %}
{% block main %}
    <title>注册</title>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <script type="text/javascript" src="/static/js/login.js"></script>
    <div class="content">
        <div class="panel panel-default login-panel">
            <div class="panel-heading">
                <h3 class="panel-title">用户注册</h3>
            </div>
            <div class="panel-body">
                <form id="register_new_form" action="/api/register_new/" method="post">


                    <div class="form-group img-box">
                        <img src="/static/img/head.png" class="img-circle">
                    </div>
                    <div class="modal-body" id="model-body">
                        <div class="form-group">
                            <input name="name" type="text" class="form-control" placeholder="用户名" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input name="cell_phone_number" type="tel" class="form-control" placeholder="手机号"
                                   autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" placeholder="密码" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" placeholder="确认密码"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <select name="employee_type" class="selectpicker" style="width: 60px" title="请选择注册类型">
                                <option selected data-content="<span class='label label-success'>员工</span>">用户</option>
{#                                <option data-content="<span class='label label-info'>管理员</span>">管理员</option>#}
                            </select>
                            <button type="button" onclick="register_submit()"
                                    class="btn btn-info register-btn">注册
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="panel-footer">
                <a href="/login/" class="gotologin">已有账号，去登陆！</a>
            </div>

        </div>
    </div>
{% endblock %}